.idea/
.vscode/
node_modules/
.DS_Store
npm-debug.log
config/*.json
!config/*.json.example
!config/facs/*.json.example
config/facs/*.json
logs/*
!logs/.gitkeep
db/*
!db/.gitkeep
csv/
logs
package-lock.json
workers/loc.api/queue/temp/*.csv
workers/loc.api/queue/temp/*.zip
bfx-report-ui/.env
bfx-report-ui/src
.env
scripts/get-docker.sh
scripts/maintenance/maintenance.on
.terraform
terraform.tfstate
terraform.tfstate.backup
terraform.tfvars
